<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryan.houses.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ryan.houses.pojo.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="aboutme" property="aboutme" jdbcType="VARCHAR"/>
        <result column="passwd" property="passwd" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="enable" property="enable" jdbcType="TINYINT"/>
        <result column="agency_id" property="agencyId" jdbcType="INTEGER"/>
    </resultMap>
</mapper>